.cardInput {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
}
.cardInputR {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
}
.cardInputGkR {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
}
.cardInputGk {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
}

.fa-solid {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 200px;
  color: rgb(255, 0, 0);
}
.hidden {
  display: none;
}
.cardsInfo div,
.cardsInfoGk div {
  color: aliceblue;
}
.position {
  position: absolute;
  top: 14%;
  left: 5%;
  color: rgb(255, 255, 255) !important;
}
.namePlayer {
  position: absolute;
  top: 54%;
  left: 10%;
  width: 100%;
  font-size: 1.2em;
}
.rate {
  position: absolute;
  top: 20%;
  left: 5%;
}
.photoPlayer {
  width: 86% !important;
  position: absolute;
  top: 13%;
  left: 18%;
}

.flagg {
  position: absolute;
  left: 86%;
  top: 20%;
  width: 20px !important;
  height: 20px;
  border-radius: 50%;
}
#club {
  position: absolute;
}
.logo {
  position: absolute;
  top: 33%;
  left: 86%;
  width: 23% !important;
  height: 13%;
  border-radius: 50%;
}

div {
  font-size: 10px;
}
p {
  font-size: 0.6em;
  color: white;
}
.pace {
  position: absolute;
  top: 58%;
  left: 3%;
}
.paceValeur {
  position: absolute;
  top: 65%;
  left: 3%;
  font-size: 10px;
}
.shooting {
  position: absolute;
  top: 58%;
  left: 30%;
}
.shootingValeur {
  position: absolute;
  top: 65%;
  left: 30%;
}
.passing {
  position: absolute;
  top: 58%;
  left: 17%;
}
.passingValeur {
  position: absolute;
  top: 65%;
  left: 17%;
}
.dribbling {
  position: absolute;
  top: 58%;
  left: 45%;
}

.dribblingValeur {
  position: absolute;
  top: 65%;
  left: 45%;
}
.defending {
  position: absolute;
  top: 58%;
  left: 60%;
}
.defendingValeur {
  position: absolute;
  top: 65%;
  left: 60%;
}
.physical {
  position: absolute;
  top: 58%;
  left: 75%;
}
.physicalValeur {
  position: absolute;
  top: 65%;
  left: 75%;
}
.cardInputGk div {
  color: white;
  display: flex;
  flex-direction: column;
}
.cardInput div {
  color: white;
  display: flex;
  flex-direction: column;
}
.cardInputR {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;

  background-color: black;

  border-radius: 10px;
  display: none;
}
.cardInputR div {
  color: white;
  display: flex;
  flex-direction: column;
}
.cardInputGkR div {
  color: white;
  display: flex;
  flex-direction: column;
}
.cardInputGkR {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 15px 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  width: 400px;
  display: none;

  background-color: black;

  border-radius: 10px;
}

.cardInputRemplacant div {
  color: white;
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  height: 28px;
}
select {
  height: 30px;
  border-radius: 5px;
}
button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  /* grid-column: 1; */
  grid-row: 7;
  background-image: linear-gradient(
    to right,
    rgba(230, 65, 23, 0.795),
    rgba(253, 17, 17, 0.564),
    rgba(238, 161, 8, 0.833)
  );
}
body {
  /* background-color: rgba(5, 5, 5, 0.958); */
  margin: 0;

  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./image/stadium_background.webp);
}
.container {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardsRow1 img,
.cardsRow2 img,
.cardsRow3 img,
.cardsRow4 img {
  width: 8rem;
  margin: -0.7rem;
}
.remplacant img {
  width: 8rem;
  margin: -0.7rem;
}
.visibilite {
  visibility: hidden;
}

.badge {
  width: 115px;
  margin: -11px;
}
.cardsRow1 {
  display: flex;
  justify-content: space-around;
}
.cardsRow2 {
  display: flex;
  justify-content: space-around;
}
.cardsRow3 {
  display: flex;
  justify-content: space-around;
}
.cardsRow4 {
  display: flex;
  justify-content: center;
}

.cardsInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsInfoGk {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsInfo button,
.cardsInfoGk button {
  margin: 0 auto;
}

.fa-regular {
  position: fixed;
  bottom: 5%;
  font-size: 3rem;
  right: 5%;
}
.remplacant {
  border-radius: 1rem;
  width: 16rem;
  margin: 1%;
  position: relative;
  bottom: 38rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  background-color: #d9d996f2;
}
.addGkRempl {
  position: fixed;
  top: 2rem;
  left: 1rem;
  z-index: 1;
}
.addPlayersR {
  position: fixed;
  top: 2rem;
  left: 8rem;
  z-index: 1;
}
/* @media (min-width: 320px) and (max-width: 430px) {
  .cardsRow1 img,
  .cardsRow2 img,
  .cardsRow3 img,
  .cardsRow4 img {
    width: 6rem;
    margin: -0.7rem;
  }
  .remplacant img {
    width: 6rem;
    margin: -0.7rem;
  }
  button {
    width: 60px;
    height: 20px;
  }
  .remplacant {
    border-radius: 1rem;
    width: 8rem;
    margin: 1%;
    position: relative;
    bottom: 28rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    background-color: #d9d996f2;
  }
  .badge {
    width: 90px;
    margin: -11px;
  }
  select {
    height: 20px;
    border-radius: 2px;
  }

  input {
    border-radius: 2px;
    background-color: rgb(251, 251, 251);
    height: 20px;
  }

  div {
    font-size: 6px;
  }
  p {
    font-size: 0.5em;
    color: white;
  }

  .flagg {
    position: absolute;
    left: 86%;
    top: 20%;
    width: 18px !important;
    height: 18px;
    border-radius: 50%;
  }
  #club {
    position: absolute;
  }
  .logo {
    position: absolute;
    top: 33%;
    left: 90%;
    width: 23% !important;
    height: 13%;
    border-radius: 50%;
  }
  .paceValeur {
    font-size: 5px;
  }
  .namePlayer {
    font-size: 1em;
  }

  .cardInputR {
    padding: 8px 3px;
    top: 01%;
    left: 20%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    width: 200px;

    border-radius: 5px;
  }

  .cardInput {
    padding: 8px 3px;
    top: 01%;
    left: 20%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    width: 200px;

    border-radius: 5px;
  }

  .cardInputGkR {
    padding: 8px 3px;
    top: 01%;
    left: 20%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    width: 200px;

    border-radius: 5px;
  }
  .cardInputGk {
    padding: 8px 3px;
    top: 01%;
    left: 20%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    width: 200px;

    border-radius: 5px;
  }
} */
